@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(40) ;
  }

  .typed-text {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: typing 2s steps(20, end) forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  